<div class="messages">


  <div class="row">

    <div class="col-md-4">
      <div ng-repeat="user in msgCtrl.users"
           ng-click="msgCtrl.userClick($index)"
           ng-class="msgCtrl.userClass($index)"
           class="user">
        <img ng-src="http://graph.facebook.com/{{user.id}}/picture"></img>
        <p>{{user.name}}</p>
      </div>
    </div>

    <div class="col-md-8">
      <div ng-repeat="message in msgCtrl.messages | filter:msgCtrl.users[msgCtrl.activeUser].id | orderBy:'time'"
           ng-class="msgCtrl.messageClass(message)"
           class="message">
        {{message.text}}
      </div>
      <form name="sendMessage" ng-submit="msgCtrl.sendMessage()" novalidate>
        <textarea ng-model="msgCtrl.message" placeholder="Send a message" required></textarea>
        <a href="#/users/{{msgCtrl.users[msgCtrl.activeUser].id}}" class="profile">View Profile</a>
        <button type="submit">Send</button>

      </form>
    </div>
  </div>
<!--
  <h3> Inbox </h3>
  <div ng-repeat="message in msgCtrl.inbox"
       ng-click="msgCtrl.clicked(message.from)">
       <div class="message">
         <img ng-src="http://graph.facebook.com/{{message.from}}/picture?type=small">
         <p>{{message.from_name}} ({{message.from}}) -> me </p>
         <p>{{message.time}}</p>
         <p>{{message.text}}</p>
         <button ng-click="msgCtrl.deleteMsg(message._id)"
                 onclick="location.reload(true)">Delete</button>
         <hr>
       </div>
  </div>


  <h3> Outbox </h3>
  <div ng-repeat="message in msgCtrl.outbox"
       ng-click="msgCtrl.clicked(message.to)">
        <div class="message">
          <img ng-src="http://graph.facebook.com/{{message.to}}/picture?type=small">
          <p> me -> {{message.to_name}} ({{message.to}})</p>
          <p>{{message.time}}</p>
          <p>{{message.text}}</p>
          <button ng-click="msgCtrl.deleteMsg(message._id)"
                  onclick="location.reload(true)">Delete</button>
          <hr>
        </div>
  </div>


  <h3> New </h3>
  <input type="text" ng-model="msgCtrl.new.to"
            placeholder="receiver's userid"></input>
  <textarea ng-model="msgCtrl.new.text"
            placeholder="message body ..."></textarea>
  <button ng-click="msgCtrl.sendMsg()"
          onclick="location.reload(true)">Send</button>


 -->
</div>
