<div class="profile row">
  <div class="col-md-3 left">
    <h2>matt</h2>
    <img src="img/profile.jpg"></img>
  </div>
  <div class="col-md-6 mid">
  <form>

    <h3>About</h3>
    <p>Location</p>
    <input type="text" placeholder="City, ST"></input>
    <p>Price Range</p>
    <input type="text" placeholder="500"></input> to <input type="text" placeholder="1000"></input>
    <textarea placeholder="Tell us about yourself.."></textarea>

    <h3>Looking For</h3>
    <textarea placeholder="What are you looking for.."></textarea>

    <div class="row">
    <div class="col-md-6">
      <input type="checkbox" id="lf-males" name="lf-males"></input>
      <label for="lf-males">Male Roomates</label>

      <input type="checkbox" id="lf-females" name="lf-females"></input>
      <label for="lf-females">Female Roomates</label>
    </div>

    <div class="col-md-6">
      <input type="checkbox" id="lf-student" name="lf-student"></input>
      <label for="lf-student">Students</label>

      <input type="checkbox" id="lf-professional" name="lf-professional"></input>
      <label for="lf-professional">Professionals</label>
    </div>
    </div>

    <button type="submit">Save Changes</button>

  </form>
  </div>

</div>
