<div class="profile row">
  <div class="col-md-3 left">
    <h2>{{profileCtrl.profile.username}}</h2>
    <img ng-src="http://graph.facebook.com/{{profileCtrl.profile.userid}}/picture?type=large"></img>
  </div>
  <div class="col-md-6 mid">

    <h3>About</h3>
    <form name="editProfile" ng-submit="profileCtrl.editProfile()" novalidate>


      <p>Location</p>
      <input type="text" ng-model="profileCtrl.profile.location"
             placeholder="City, ST" required></input>
      <p>Price Range</p>
      <input type="number" ng-model="profileCtrl.profile.priceLow"
             placeholder="500" required></input>
      to
      <input type="number" ng-model="profileCtrl.profile.priceHigh"
             placeholder="1000" required></input>
      <textarea ng-model="profileCtrl.profile.about"
                placeholder="Tell us about yourself.." required></textarea>

      <h3>Looking For</h3>
      <textarea ng-model="profileCtrl.profile.lookingFor"
                placeholder="What are you looking for.." required></textarea>


      <div ng-repeat="option in profileCtrl.lookingForOptions">
        <input type="checkbox"
               id="lf-{{option}}"
               name="lf"
               value="{{option}}"
               ng-checked="profileCtrl.profile.lookingForList.indexOf(option) > -1"
               ng-click="profileCtrl.toggleSelection(option)">
         </input>
        <label for="lf-{{option}}"
               >{{option}}</label>
      </div>

      <button id="editSubmit" type="submit">Save Changes</button>

    </form>

    <form method="get" action="/connect/linkedin">
      <button type="submit" class="linkedin">Sync with LinkedIn</button>
    </form>

  </div>

</div>
