<div class="profile row">
  <div class="col-md-3 left">
    <h2>user</h2>
    <img src="img/profile.jpg"></img>
  </div>
  <div class="col-md-6 mid">

    <h3>About</h3>
    <p>City, ST</p>
    <p>$500 to $1000</p>
    <p>Forage four dollar toast thundercats, austin mixtape fashion axe blog actually chillwave retro biodiesel bespoke next level narwhal. Everyday carry biodiesel waistcoat typewriter craft beer you probably haven't heard of them organic bushwick godard. Semiotics hashtag drinking vinegar, venmo chartreuse irony occupy kale chips iPhone synth intelligentsia. Pug brunch messenger bag, humblebrag chillwave kale chips cornhole quinoa chambray leggings meh swag echo park paleo YOLO. Craft beer seitan forage, fanny pack occupy food truck celiac migas.</p>

    <h3>Looking For</h3>
    <p>Forage four dollar toast thundercats, austin mixtape fashion axe blog actually chillwave retro biodiesel bespoke next level narwhal. Everyday carry biodiesel waistcoat typewriter craft beer you probably haven't heard of them organic bushwick godard. Semiotics hashtag drinking vinegar, venmo chartreuse irony occupy kale chips iPhone synth intelligentsia. Pug brunch messenger bag, humblebrag chillwave kale chips cornhole quinoa chambray leggings meh swag echo park paleo YOLO. Craft beer seitan forage, fanny pack occupy food truck celiac migas.</p>

    <ul>
      <li>Male Roommates</li>
      <li>Female Roommates</li>
      <li>Professionals</li>
    </ul>

    <button type="button" data-toggle="modal" data-target="#myModal">Message</button>

  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New message to [user]</h4>
      </div>
      <div class="modal-body">
        <textarea placeholder="Message.."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Cancel</button>
        <button type="button">Send</button>
      </div>
    </div>
  </div>
</div>
