.header{
  background-color: #43BF57;
}

.header .left a{
  color: white;
  display: inline-block;
  padding-top: 10px;
}
.header .left a:hover, .header .left a:focus, .header .left a:active{
  text-decoration: none;
  color: white;
}
.header .left a h1{
  margin: 0px;
}
.header .left a span{
  color: black;
}

.header .right{
  text-align: right;
}
.header .right a{
  color: white;
  font-size: 1.1em;
  padding: 18px 30px;
  display: inline-block;
  transition: background-color .2s linear;
}
.header .right a:hover, .header .right a:focus, .header .right a:active{
  background-color: #2D7F3A;
  text-decoration: none;
}
