
.landing{
  background-image: url(../img/flat-green.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.landing body{
  background: inherit;
  padding-top: 23%;
}

.landing .login-container{
  text-align: center;
  background: white;
  padding: 30px;
}

.landing .left{
  display: inline-block;
  text-align: left;
}

.landing .right{
  display: inline-block;
  margin-left: 20px;
}

.landing .left .title{
  font-size: 4em;
}
.landing .left .title span{
  color: #43BF57;
}

.landing p{
  font-size: 2em;
}

.landing button{
  width: 100%;
  position: relative;
  bottom: 35px;
}
